.git
.github
.gitee
.idea
.claude
.DS_Store
BOOT-INF
logs
uploadPath
node_modules
ruoyi-ui/node_modules

ruoyi-common/target
ruoyi-system/target
ruoyi-framework/target
ruoyi-quartz/target
ruoyi-generator/target
ruoyi-manage/target
ruoyi-flowable/target

ruoyi-admin/target/*
!ruoyi-admin/target/ruoyi-admin.jar

*.iml
